{% extends "bootstrap/base.html" %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
{% endblock %}

