<!-- This file is for visitor Show History Button -->

{% extends "base.html" %}

{%block content %}

<div class="container">
    <div class="page-header">
        <h1>Show history!</h1>
    </div>

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.exhibit_name) }}
        <p>
        {{ render_field(form.show_name) }}
        <p>
        {{ render_field(form.date) }}
        <p>
        
      </dl>
      <p><input type=submit value=Search>
    </form>
</div>
{% endblock %}