{% extends "base.html" %}

{%block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Atlanta Zoo</title>
</head>
<style > 
.button {
	position: relative;
    top: 200px;
    left: 120px;
    margin-right: 50px;
    margin-bottom: 40px;
}
</style>
<h2 style="text-align:center"> 
        <br>
    </br>
{% if session.get('isLogin') %}
    Welcome {{ session.get('username')}}
{% else %}
    Stranger
{% endif %}!
</h2>

<!-- 使用submit type button来通过点击button发起请求 -->
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>

<th scope="col">
	<form method="get" action="/staff/animals">
  <button type="submit" class="btn btn-primary button" >Search Animals</button>
</form>
</th>
	
<th scope="col">
	<form method="get" action="/staff/shows/">
  <button type="submit" class="btn btn-primary button" >View Shows</button>
</form>
</th>
	
</tr>
</table>


{% endblock %}




